/*Reseteo css*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {text-align: center;
    background-size: contain;
    background-color: rgb(183, 138, 224);
}

@font-face {
    font-family: "Roboto-Bold", sans-serif;
    src: url(../assets/fonts/Roboto-Bold.ttf);
}

h1 {
    color: rgb(131, 54, 167);
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: oblique;
}

ul {
    list-style: none;
}

li>a {
    color:rgb(55, 111, 214);
    text-decoration: none;
    font-size: 25px;
}

#primerfondo {
    background-image: url(../assets/img/inicio.JPG);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.fa-whatsapp {
    color:rgb(7, 151, 2);
    font-size: 20px;
}

.fa-instagram {
color: rgb(165, 122, 42);
font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 70%;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
}

header,footer {
    background-color: rgb(132, 54, 167);
}

header {
    margin: 5px;
    padding: 5px;
    border: 3px rgb(55, 111, 214) solid;
}

.gridArea {
    display: grid;
    grid-template-columns: repeat(5, 1.5fr);
    grid-template-rows: repeat(2, 1.5fr);
    grid-template-areas:
     "iphone12 iphone13 iphone13promax iphone13rojo"
     "samsung22ultra samsungnote20ultra samsung23ultra samsung24ultra samsungfold4";
    width: 80vw;
    height: 70vh;
    margin: auto;
    position: relative;
    background-color: rgb(55, 111, 214);
    padding: 5px;
    justify-items: center;
    align-items: center;
}
