@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: "Roboto-Bold", sans-serif;
    src: url(../assets/fonts/Roboto-Bold.ttf);
}

/*Variables*/
$tipografia-ppal:'Poppins', sans-serif;
$tipografia-secund: 'Roboto-Bold', sans-serif;

* {
    padding: auto;
    margin: auto;
    box-sizing: border-box;
}

/*Extend*/
%iconos-redes {
    font-size: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

li>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    padding: 8px 12px;
    display: block;
}

h1 {
    color: rgb(168, 83, 119);
}

body {
    text-align: center;
    background-size: contain;
    background-color: rgb(168, 83, 119);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: oblique;
    margin: 0;
}

#primerfondo {
    background-image: url(../assets/img/inicio.JPG);
    height: 500px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#quintofondo {
    background-image: url(../assets/img/iphone14promax.JPG.jpg);
    height: 500px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

header, footer {
    background-color: rgb(119, 19, 61);
}

.fa-facebook {
    @extend %iconos-redes;
    color: rgb(55, 111, 214);
}

.fa-whatsapp { 
    @extend %iconos-redes;
    color: rgb(7, 151, 2);
   
}

.fa-instagram { 
    @extend %iconos-redes;
    color: rgb(201, 19, 95);
   
}

/*Ejemplo Anidacion*/
.img-scale {
    transition: transform 0.3 ease;
    &:hover {
        transform: scale(1.5, 1.5);
    }
}

.gridArea {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 90%;
    margin: auto;
    position: relative;
    background-color: rgb(80, 80, 80);
    padding: 10px;
    justify-items: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

.btn-pri {
    background-color: rgb(119, 19, 61);
}

/*Inicio Desktop*/
@media (max-width: 992px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    .gridArea {
        grid-template-columns: repeat(2, 1fr);
    }

    #primerfondo {
        height: 250px;
        background-size: cover;
        margin: auto;
    }
}

/*Inicio Mobile*/
@media (max-width: 576px) {
    li > a {
        font-size: 16px;
    }

    header img {
        max-width: 60px;
    }

    .gridArea {
        grid-template-columns: repeat(2 ,1fr);
    }

    #primerfondo {
        height: 180px;
    }

}
